[submodule "node_modules/sass"]
	path = node_modules/sass
	url = https://github.com/visionmedia/sass.js.git
[submodule "node_modules/step"]
	path = node_modules/step
	url = https://github.com/creationix/step.git
[submodule "node_modules/Mu"]
	path = node_modules/Mu
	url = https://github.com/pfleidi/Mu.git
[submodule "node_modules/jsdom"]
	path = node_modules/jsdom
	url = git@github.com:/tmpvar/jsdom
[submodule "node_modules/request"]
	path = node_modules/request
	url = git@github.com:/mikeal/request.git
[submodule "node_modules/cssom"]
	path = node_modules/cssom
	url = git@github.com:/NV/CSSOM.git
[submodule "node_modules/node-htmlparser"]
	path = node_modules/node-htmlparser
	url = git@github.com:/tautologistics/node-htmlparser
[submodule "node_modules/node-utils"]
	path = node_modules/node-utils
	url = git://github.com/mikeal/node-utils.git
[submodule "node_modules/node-http-proxy"]
	path = node_modules/node-http-proxy
	url = https://github.com/nodejitsu/node-http-proxy.git
[submodule "node_modules/operetta"]
	path = node_modules/operetta
	url = https://github.com/tricknik/node-operetta.git
